
.fcp-form-clinic-search {
    --color:#23667b;
    --heartrate:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cg fill='none' stroke='%23b3b3b3' stroke-width='.5'%3E%3Cpath d='m 3.5321532,9.797535 4.5689122,4.569368 C 10.129669,12.49565 14.084809,8.476093 14.084809,8.476093 14.78903,7.7686071 15.195417,6.8046151 15.196555,5.7872621 15.195995,3.6798238 13.487889,1.9715475 11.380661,1.9709864 10.034131,1.9722158 8.7878727,2.682919 8.1010654,3.8412407 7.4146213,2.6835298 6.1692823,1.9729185 4.8234634,1.9709864 2.9248586,1.9705 1.3496658,3.3564585 1.055043,5.172108'%0A/%3E%3Cpath d='M 0.74306136,7.742431 H 4.4583682 L 6.0003969,5.1314832 8.2216144,10.055509 10.235071,7.742431 h 4.242641'%0A/%3E%3C/g%3E%3C/svg%3E%0A");
    --marker:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cg fill='none' stroke='%23b3b3b3' stroke-width='.5'%3E%3Cellipse ry='2.7567921' rx='2.7580481' cx='7.9999995' cy='6.1532011' /%3E%3Cpath d='m 3.0468593,6.1987955 c 0,-2.8320227 2.1227745,-4.9560397 4.9531403,-4.9560397 2.7360204,0 4.9531404,2.2184178 4.9531404,4.9560397 0,3.0019437 -4.9059676,9.5512205 -4.9059676,9.5512205 0,0 -5.0003131,-6.4831963 -5.0003131,-9.5512205 z'%0A/%3E%3C/g%3E%3C/svg%3E%0A");
}

.fcp-form-clinic-search {
    margin-top:60px;
}

/* section */
.fcp-form-clinic-search .fcp-form-group.fcp-form-cols-2 > .fcp-form-group-w > * {
    flex-basis:calc(50% - 7px);
}
.fcp-form-clinic-search input {
    box-sizing: border-box;
    border: none;
    border-radius: 19px;
    padding: 11px 14px;
    background-color: #fff;
    font-size: 14px;
    font-weight:400;
    letter-spacing:1px;
    color:var(--color);
    -webkit-appearance: none;
}
.fcp-form-clinic-search input[type=submit] {
    text-transform:uppercase;
    font-weight:600;
    cursor:pointer;
}

.fcp-form-clinic-search input:hover,
.fcp-form-clinic-search input:focus {
    background-color:#eee;
}

.fcp-form-clinic-search input::-webkit-input-placeholder { color:var(--color); }
.fcp-form-clinic-search input::placeholder { color:var(--color); }

.fcp-form-clinic-search input:focus,
.fcp-form-clinic-search input:focus-visible {
  outline:none;
}

#fcp-f-spezialisierung {
    mask:var(--heartrate);
    -webkit-mask:var(--heartrate);
}
#fcp-f-region {
    mask:var(--marker);
    -webkit-mask:var(--marker);
}
