.fcp-form {
}

/* GROUPS */
.fcp-form-group {
    margin:5px;
    border:1px dotted red;
    padding:5px;
    box-sizing:border-box;
}

.fcp-form-group {
    display:flex;
    justify-content:space-between;
    align-items:stretch;
    flex-wrap:wrap;
}
.fcp-form-group > * {
    width:100%;
}
.fcp-form-group.fcp-form-cols-2 > * {
    width:calc(50% - 15px);
}
.fcp-form-group.fcp-form-cols-3 > * {
    width:calc(33.333% - 15px);
}

.fcp-form-group > .fcp-form-group-h {
    width:100%; 
    margin-bottom:15px;
}
.fcp-form-group-h > *:first-child {
    margin-top:0;
}
.fcp-form-group-h > *:last-child {
    margin-bottom:0;
}

/* common GTYPES */
/* section */
.fcp-form-group-section {
    margin-bottom:30px;
    border-bottom:1px dotted green;
}
/* row */
.fcp-form-group-row {
    margin-bottom:15px;
    border-bottom:1px dotted blue;
}
/* hidden */
.fcp-form-group-hidden {
    opacity:0;
    z-index:-1;
    pointer-events:none;
}
.fcp-form-group-hidden.active {
    opacity:1;
    z-index:10;
    pointer-events:auto;
}

/* FIELDS */
.fcp-form-field-w {
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    margin-bottom:15px;
    border-bottom:1px dotted violet;
    flex-wrap:wrap;
}
.fcp-form-field-w > * {
    width:100%;
}
.fcp-form-field-w > span {
    width:calc(40% - 15px);
    margin-right:15px;
}
.fcp-form-field-w > span + * {
    width:calc(60% - 15px);
}

.fcp-form-field-warn {
    font-size:12px;
}

input[type=file] + label {
    display:none;
}
