.fcp-advisor-holder {
    display:block;
    min-width:100px;
    border:1px dotted red;
    position:absolute;
}
.fcp-advisor-holder > button {
    display:block;
    width:100%;
    margin:0;
    border:none;
    border-bottom:1px solid #ccc;
    padding:8px 12px;
    background-color:#fff;
    text-align:left;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    cursor:pointer;
    -webkit-appearance:none;
}
.fcp-advisor-holder > button:hover,
.fcp-advisor-holder > button.active {
    background-color:#ccc;
    color:#fff;
}
