/* GROUPS */

/* section */
.fcp-form-register-client .fcp-form-group-section {
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}
.fcp-form-register-client .fcp-form-group-section > * {
    flex-basis:calc(50% - 15px);
    flex-grow:0;
    overflow:hidden;
}

.fcp-form-register-client .fcp-form-group-section > .fcp-form-group-h,
.fcp-form-register-client .fcp-form-group-section > .fcp-form-group-w,
.fcp-form-register-client .fcp-form-group-section > .fcp-form-group-w > .fcp-form-field-w:last-child,
.fcp-form-register-client .fcp-form-group-section > .fcp-form-group-w > .fcp-form-group:last-child > .fcp-form-group-w > * {
    margin-bottom:0;
}
.fcp-form-register-client .fcp-form-group-section > .fcp-form-group-w {
    padding-top:10px;
}

.fcp-form-group.fcp-form-cols-2 > .fcp-form-group-w > * {
    flex-basis:calc(50% - 12px);
    width:calc(50% - 12px);
}

/* FIELDS */
.fcp-form-field-w {
    margin-bottom:20px;
}
.fcp-form-register-client .fcp-form-field-w > * {
    width:100%;
}
.fcp-form-register-client .fcp-form-field-w > span {
    flex-basis:100%;
    margin-right:0;
}
.fcp-form-register-client .fcp-form-field-w > span + * {
    flex-basis:100%;
}

/* STYLING */
.fcp-form-register-client .fcp-form-group {
    background-color:#b9e1ed;
}
.fcp-form-register-client * {
    color:#0b4562;
}
.fcp-form-register-client h3 {
    font-size:22px;
    text-transform:uppercase;
    font-weight:400;
}
.fcp-form-register-client p {
    line-height:1.45;
    font-size:15px;
    font-weight:400;
}

.fcp-form-register-client .fcp-form-field-w > span {
    margin:-10px 0 4px;
    font-size:13px;
    font-weight:700;
    text-transform:uppercase;
    color:#fff;
}
.fcp-form-register-client .fcp-form-field-w > span.fcp-form-small {
    font-size:65%;
}

/* INPUTS */
.fcp-form-register-client input,
.fcp-form-register-client select,
.fcp-form-register-client textarea,
.fcp-form-register-client input[type=file] + label {
    box-sizing:border-box;
    border:none;
    border-radius:6px;
    padding:10px;
    background-color:#c8ebf6;
    font-size:14px;
    line-height:1.4;
    -webkit-appearance:none;
}
.fcp-form-register-client textarea {
    font-size:12px;
}
.fcp-form-register-client select,
.fcp-form-register-client input[type=file] + label {
    cursor:pointer;
}


.fcp-form-register-client input:focus,
.fcp-form-register-client input:focus-visible,
.fcp-form-register-client select:focus,
.fcp-form-register-client select:focus-visible,
.fcp-form-register-client textarea:focus,
.fcp-form-register-client textarea:focus-visible,
.fcp-form-register-client input[type=file]:focus + label,
.fcp-form-register-client input[type=file]:focus-visible + label {
  outline:none;
  background-color:#fff;
}

.fcp-form-register-client input:-webkit-autofill,
.fcp-form-register-client  input:-internal-autofill-selected {
    background-color:#c8ebf6;
    -webkit-box-shadow:0 0 0 50px #c8ebf6 inset;
    color:#000;
    -webkit-text-fill-color: #000;
}
.fcp-form-register-client input:-webkit-autofill:focus,
.fcp-form-register-client  input:-internal-autofill-selected:focus {
    background-color:#fff;
    -webkit-box-shadow:0 0 0 50px #fff inset;
}

.fcp-form-register-client input::-webkit-input-placeholder,
.fcp-form-register-client textarea::-webkit-input-placeholder{
    text-transform:uppercase;
    color:#fff;
    font-weight:700;
}
.fcp-form-register-client input:-ms-input-placeholder,
.fcp-form-register-client textarea:-ms-input-placeholder{
    text-transform:uppercase;
    color:#fff;
    font-weight:700;
}
.fcp-form-register-client input::placeholder,
.fcp-form-register-client textarea::placeholder{
    text-transform:uppercase;
    color:#fff;
    font-weight:700;
}

.fcp-form-register-client input[type=file] {
    position:absolute;
    z-index:-1;
    opacity:0;
}
